.content{
  background-color: #5E6573;
  border: 1px solid #3d414a;
  border-radius: 3px;
  color: white;
  padding: 30px;
  text-align: center;
}

.containerBtn{
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #2a2f37;
  border-radius: 3px;
  color: white;
  margin-top: 15px;
  width: 150px;
}

.btn:before{
  color: #24ac50;
  content: '\f00c\ ';
  font-family: FontAwesome;
}

.modoContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.select {
  border: none;
  font-size: 1rem;
  font-weight: bold;
  height: 35px;
  text-transform: uppercase;
  width: 250px;
}

.h2 {
  margin: 0;
}