:root {
  --main-color: #00A335;
}

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: none;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: inter, segoe ui;
}

a {
  text-decoration: none;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
select {
  border-radius: 3px;
  width: 100%;
  text-align: center;
  padding: 3px 0;
  font-size: 1rem;
  background-color: #e6e6e6;
  margin-bottom: 5px;
}

input:focus-visible {
  background-color: white;
}

select:focus-visible {
  background-color: white;
}

span {
  color: orange;
}

h5 {
  margin-bottom: 10px;
  color: #fff;
}

h2>p:before {
  content: '# ';
  color: aqua;
}

/* HEADER SETTINGS */

.navbar {
  width: 100%;
  height: 50px;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
}

.nav-links {
  list-style: none;
  display: flex;
  padding-right: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: green;
}

/* MAIN SETTINGS */

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 920px;
}

.configure-commands {
  margin-top: 20px;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 10px;
  font-family: monospace;
  box-shadow: 0 0 0.5em #000;
}

.configure-commands,
.remove-configure>p {
  font-size: 0.8rem;
}


.pon-container {
  display: flex;
  margin: 10px 0;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 12px;
  justify-content: center;
}

.pon-config {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px;
  background-color: #dfdfdf;
  padding: 5px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #00a335 11%, #ddd 0%);
}

.pon-config>label {
  font-weight: bold;
}

.cpe-profiles-container {
  display: flex;
  justify-content: center;
}

.cpe-profiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 3px;
  background-color: #dfdfdf;
  padding: 5px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #00a335 30%, #ddd 0%);
}

.cpe-profiles>select {
  width: 150px;
}

.container-tabs {
  display: flex;
  margin-top: 20px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.configure {
  background-color: var(--main-color);
  padding: 10px;
  width: calc(920px/2);
}

.remove-configure {
  background-color: red;
  padding: 10px;
  width: calc(920px/2);
}