/* STRUCTURE SETTINGS */

:root {
  --main-color: #00A335;
}

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: none;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: inter, segoe ui;
}

a {
  text-decoration: none;
  color: white;
}

/* Remover setas do input */
::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
select {
  border-radius: 3px;
  width: 100%;
  text-align: center;
  padding: 4px 0;
  font-size: 1rem;
  background-color: #e6e6e6;
  margin-bottom: 5px;
}

input:focus-visible {
  background-color: white;
}

select:focus-visible {
  background-color: white;
}

span {
  color: orange;
}

/* HEADER SETTINGS */

.navbar {
  width: 100%;
  height: 50px;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
}

.nav-links {
  list-style: none;
  display: flex;
  padding-right: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: green;
}

/* MAIN SETTINGS */

h5 {
  margin-bottom: 10px;
  color: white;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  width: 920px;
}

.pon-container {
  display: flex;
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  justify-content: center;
}

.pon-config {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px;
  padding: 5px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #00a335 10%, #dfdfdf 0%);
}

.pon-config>label {
  font-weight: bold;
}

.testando {
  width: 100%;
}

.cpe-container,
.cpe-container-uma-vlan {
  display: flex;
  font-size: 0.8rem;
}

.cpe-modes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 3px;
  padding: 5px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #00a335 30%, #dfdfdf 0%);
}

.cpe-container-uma-vlan>.cpe-modes {
  background: linear-gradient(to bottom, #00a335 10%, #dfdfdf 0%);

}

.cpe-modes>select,
.cpe-modes>input {
  width: 180px;
}

.cpe-modes>label {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
}

.tabs-container {
  display: flex;
  margin-top: 15px;
  text-align: center;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.config-auto-service {
  background-color: var(--main-color);
  padding: 10px;
  width: calc(920px/2);
  border-radius: 5px 0 0 5px;
}

.remove-auto-service {
  background-color: red;
  padding: 10px;
  width: calc(920px/2);
  border-radius: 0 5px 5px 0;
}

.commands {
  margin: 20px 0;
  background-color: rgb(28, 28, 28);
  color: white;
  padding: 20px;
  font-size: 10px;
  font-family: monospace;
  box-shadow: 0 0 0.5em black;
  display: flex;
  justify-content: space-between;
}

.commands,
.remove-auto-service>p {
  font-size: 0.9rem;
}

.commands>div p:before {
  content: '# ';
  color: aqua;
}

.copybutton {
  height: 50px;
  width: 75px;
}

.copybutton>button {
  cursor: pointer;
  height: 30px;
  width: 40px;
  background-color: transparent;
  color: mediumspringgreen;
}