/* STRUCTURE SETTINGS */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

:root {
  --main-color: #00a335;
  --secondary-color: #5e6573;
  --cor-fundo: #00A335;
  --cor-hover: #006a23;
  --cor-fundo-hover: #003c14;
  --cor-primaria: #e7f1ec;
}

* {
  border: none;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  background-color: whitesmoke;
  font-family: 'Fira Sans', segoe ui, arial;
  overflow: auto;
}

/* Hide scrollbars */
::-webkit-scrollbar {
  display: none;
}

a {
  color: white;
  text-decoration: none;
}

/* Remover setas do input */
::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
select {
  background-color: #e6e6e6;
  border-radius: 3px;
  font-size: 0.9rem;
  margin-bottom: 5px;
  padding: 4px 0;
  text-align: center;
  width: 100%;
}

input:focus-visible,
select:focus-visible {
  background-color: white;
}

span {
  text-decoration: underline;
}

h5 {
  color: white;
  margin-bottom: 10px;
}

h3 {
  font-weight: normal;
}

/* HEADER SETTINGS */
.container {
  align-items: center; 
  background-color: #00A335;
  display: flex;
  height: 60px;
  justify-content: center;
}

.title {
  font-weight: 900;
}
.version {
  background-color: var(--cor-hover);
  border-radius: 3px;
  font-size: 0.6rem;
  padding: 2px 5px;
  text-decoration: none;
}

.menu ul {
  background-color: var(--cor-fundo);
  border-radius: 3px;
  font-size: 0.8rem;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.menu ul li {
  display: inline;
  position: relative;
}

.menu ul li a {
  border-radius: 3px;
  color: var(--cor-primaria);
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  transition: background .3s;
}

.menu ul li a:hover {
  background-color: var(--cor-hover);
}

/*sub menu*/
.menu ul ul {
  background-color: var(--cor-fundo-hover);
  display: none;
  left: 0;
  margin-top: 1px;
  position: absolute;
}

.menu ul li:hover ul {
  display: block;
}

.menu ul ul {
  width: 100px
}

.menu ul ul li a {
  display: block;
}

/* MAIN SETTINGS */

#main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-container {
  font-size: 0.9rem;
  width: 960px;
}

.pon-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  text-transform: uppercase;
}

.pon-config {
  align-items: center;
  background: linear-gradient(to bottom, var(--main-color) 10%, #dfdfdf 0%);
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 3px;
  padding: 5px;
}

.pon-config>label {
  font-weight: bold;
}

.cpe-modes-container {
  width: 100%;
}

.cpe-container,
.cpe-container-uma-vlan {
  display: flex;
  margin-top: 10px;
}

.cpe-modes {
  align-items: center;
  background: linear-gradient(to bottom, var(--main-color) 30%, #dfdfdf 0%);
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 3px;
  padding: 5px;
  width: 100%;
}

.cpe-container-uma-vlan>.cpe-modes {
  background: linear-gradient(to bottom, var(--main-color) 10%, #dfdfdf 0%);
}

.cpe-modes>select,
.cpe-modes>input {
  width: 180px;
}

.cpe-modes>label {
  font-weight: bold;
  text-transform: uppercase;
}

.tabs-container {
  color: white;
  cursor: pointer;
  display: flex;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
}

.config-auto-service {
  background-color: var(--secondary-color);
  border: 1px solid #4d525d;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  width: calc(920px / 2);
}

.config-auto-service:active {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}

.remove-auto-service {
  background-color: var(--secondary-color);
  border: 1px solid #4d525d;
  border-radius: 0 5px 5px 0;
  margin-left: 2px;
  padding: 10px;
  width: calc(920px / 2);
}

.remove-auto-service:active {
  background-color: red;
  border: 1px solid red;
}

.commands {
  background-color: black;
  box-shadow: 0 0 0.5em black;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px;
}

.commands>div p:before {
  color: var(--main-color);
  content: '# ';
}

.copybutton {
  align-items: center;
  border: 2px solid mediumspringgreen;
  border-radius: 5px;
  color: mediumspringgreen;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  text-transform: uppercase;
  width: 75px;
}

.copybutton:active {
  background-color: mediumspringgreen;
  color: black;
}

#umavlan-container {
  display: none;
}

.button-container {
  background-color: #5e6573;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
  padding: 20px;
  text-align: center;
}

.reset {
  background-color: transparent;
  border: 2px solid #e34b4b;
  border-radius: 5px;
  color: #e34b4b;
  cursor: pointer;
  font-size: 0.65rem;
  font-weight: bold;
  height: 25px;
  text-transform: uppercase;
  width: 65px;
}

.reset:active {
  background-color: #e34b4b;
  color: white;
}

.warning {
  background-color: #fddda5;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
}